{% extends "layouts/baseDash.html" %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
<h4 class="mb-3 text-center fw-bold">Reservar Cita</h4>

<!-- Paso a paso -->
<div class="ui-g-12 card-border ui-fluid">
  <ul role="tablist">
    <li class="ui-steps-item ui-state-highlight ui-steps-current">
      <a class="ui-menuitem-link" href="#" tabindex="0">
        <span class="ui-steps-number">1</span>
        <span class="ui-steps-title">Sede</span>
      </a>
    </li>
    <li class="ui-steps-item ui-state-default ui-state-disabled ui-steps-incomplete">
      <a class="ui-menuitem-link" href="#" tabindex="0">
        <span class="ui-steps-number">2</span>
        <span class="ui-steps-title">Especialidad</span>
      </a>
    </li>
    <li class="ui-steps-item ui-state-default ui-state-disabled ui-steps-incomplete">
      <a class="ui-menuitem-link" href="#" tabindex="0">
        <span class="ui-steps-number">3</span>
        <span class="ui-steps-title">Horario</span>
      </a>
    </li>
    <li class="ui-steps-item ui-state-default ui-state-disabled ui-steps-incomplete">
      <a class="ui-menuitem-link" href="#" tabindex="0">
        <span class="ui-steps-number">4</span>
        <span class="ui-steps-title">Cita/Pago</span>
      </a>
    </li>
  </ul>
</div>

<p></p>

  <div class="row">
    <!-- Información ingresada -->
    <div class="col-md-5">
      <h5 class="mb-3">Información ingresada</h5>
      <div class="info-box bg-info text-white p-3 mb-2 rounded">
        <i class="fa fa-hospital"></i> Clínica Centenario Peruano Japonesa
      </div>
      <div class="info-box bg-info text-white p-3 mb-2 rounded">
        <i class="fa fa-user"></i> {{ PacienteActivo.nombre}} {{PacienteActivo.apellido_paterno}} {{PacienteActivo.apellido_materno}} (Titular)
      </div>
    </div>

    <!-- Formulario -->
    <div class="col-md-7">
      <h5 class="mb-3">¿Para quién es la cita?</h5>
      <input type="text" class="form-control mb-3" placeholder="Buscar persona...">
      
      <div class="card bg-info text-white mb-3 p-3 text-center" >
        <img src= "{% static 'perfil2.jpg' %}" class="rounded-circle mx-auto mb-2" width="60">
        <p class="m-0 fw-bold"> {{ PacienteActivo.nombre }} </p>
        <small>{{ PacienteActivo.apellido_paterno }} {{ PacienteActivo.apellido_materno }}</small>
      </div>

      <div class="mb-3">
        <label class="form-label">Modalidad</label>
        <select class="form-select">
          <option selected disabled>Seleccione</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Tipo de paciente</label>
        <select class="form-select">
          <option selected disabled>Seleccione</option>
        </select>
      </div>

      <div class="text-end">
        <a class="btn btn-info px-4 text-white" href="{% url 'dashboard2' %}">Continuar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
