{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>App Citas</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
</head>
<body>
<!-- Topbar -->
<div class="topbar d-flex align-items-center justify-content-between px-4 shadow-sm bg-white border-bottom">
  <div class="d-flex justify-content-between align-items-center w-100">
    <div>
      <img src="{% static 'logo4.png' %}" alt="Logo Clínica" class="topbar-logo ms-4 img-fluid">
    </div>
  
    <h4 class="text-info m-0 me-3">App Citas</h4>
  </div>
  
  <div class="d-flex align-items-center gap-3">
    <i class="fas fa-sign-out-alt text-info fs-5 cursor-pointer"></i>
  </div>
</div>


  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-2 sidebar">
        <div class="text-center">
          <img src="{% static 'perfil2.jpg' %}" alt="Perfil" />
          <p><strong>Lucía Paredes</strong></p>
        </div>
        <ul class="nav flex-column">
          <li><a href="#" class="menu-link active"><i class="fas fa-calendar-plus"></i> Reservar cita</a></li>
          <li><a href="#" class="menu-link"><i class="fas fa-calendar-alt"></i> Mis citas</a></li>
          <li><a href="#" class="menu-link"><i class="fas fa-user"></i> Mi cuenta</a></li>
          <li><a href="#" class="menu-link"><i class="fas fa-users"></i> Miembros</a></li>
          <li><a href="#" class="menu-link"><i class="fas fa-star"></i> Médico favorito</a></li>
        </ul>
      </div>

      <!-- Contenedor principal (variable) -->
      <main class="col-md-10 p-4">
        {% block content %}
        <!-- Aquí se cargará el contenido de cada página específica -->
        {% endblock %}
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
